@media screen and (max-width: 720px) {
  *, ::after, ::before {
    line-height: 140%;
  }
  div.container > header, .message {
    height: auto;
    min-height: 100vh;
  }
  div.container > header a.see-all-content {
    position: relative;
  }
  .message article .content {
    width: ~"calc(100% - 72px)";
  }

  footer {
    .made-by, .partners {
      width: 100%;
      margin: 15px 0px;
      clear: both; 
    }
  }

}
