@media screen and (max-width: 720px) {
  *, ::after, ::before {
    line-height: 140%;
  }
  div.container > header, .message {
    height: auto;
    min-height: 100vh;
  }
  a.see-all-content {
    position: relative;
  }
}
